
</main>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4">
  <div class="d-flex align-items-center " id="foot">
    <p class=" mb-3 mb-md-0 text-body-secondary">Safar Inc , © <%= d= new Date().getFullYear() %> </p>
  </div>
</footer>
</body> 

</html>